language: cpp
compiler: gcc
sudo: required
dist: bionic
git:
  depth: 3

addons:
  apt:
    packages:
      - p7zip-full
      - ninja-build
      - libhunspell-dev
      - libgl1-mesa-dev
      - libgstreamer-plugins-base1.0-0
      - libpulse-mainloop-glib0
      - python3-pip
  homebrew:
    update: true
    packages:
      - p7zip
      - ninja
      - hunspell

env:
  global:
    QT_VERSION=5.13.1
    QTWEBKIT_BRANCH=5.212
    QTWEBKIT_BUILD_NUMBER=1568772611
    QT_INSTALL_DIR=~/Qt
    QT_MODULES="qtbase qtdeclarative qtlocation qtmultimedia qtsensors qtwebchannel qtsvg qtxmlpatterns"
    HOST_N_CORES=2

before_deploy:
  - sed -ie "s|TRAVIS_BUILD_NUMBER|${TRAVIS_BUILD_NUMBER}|" bintray.json

deploy:
  provider: bintray
  user: annulen
  key:
    secure: X25VLRX1ONHi773zJXlq7oWVGB6KFBKX55Von3jOOAjjk91P6S9KAwLaYtKoI1dP7FHVLctV5ou595wG64dZsgoGG6+ZzWIwTDDegI+PbSg/gmZPDHF9ZBS2xFPNEgM8HbdDkkkJyN72/SM6cPmJ6yiXoh2F2/s+yT5+7O5TQhGn9P0KEAM7lFACX0CJfgVGDWJqXf6YmYyYvVT2kwNsFdAMV8JlQmLGJDo4xHIOY2ucVWgPRMVZi7SUejC86BflpYytIRRa6crAdSMJX6lWqiZTLOlx/jJRa44Pl5fJE4urjcHAsFOrV2dKPfTVLAekUutVXAwviZ/mRfAAJHSY/2+2GubxjeE8+uQRmkBX2kZ5C1Oim8jiMuH2vVOF80VqKgwjddV05MYtxz5MPnCK1OFY4PpoP03MJQocwnwztk3sAa8fqm4IJNmIU7ma3zio8mR10s+dFWZVACHRV8pX3HbY8OrOxt4vCnJP+2HsOhzzzwfcdTSQBXi+fueb2dFfeA/kOp6HfMMUJZyu10JESOCSEg/CX0FiGpBaPkmNVOjDxXIavJ+IH2NcDmlCVEKK7AK/e6KEyy1W3e9QAjGRAGsEltymsGP9LDdCpO8TQ0PIG0go5PKSH75+Adq9vXc5tylqExAomxxmGnSk36bdqCGF14Rej63i5D+gHwm7xDY=
  file: bintray.json
  edge: true # opt in to dpl v2
  on:
    condition: $DEPLOY = 1

matrix:
  include:
  - name: "macOS x86_64"
    os: osx
    osx_image: xcode10.1
    env:
      CMAKE_GENERATOR=Ninja
    install:
      - 3rdparty/install-qt.sh -d ${QT_INSTALL_DIR} --version ${QT_VERSION} ${QT_MODULES} qtmacextras
      - export QTDIR="${QT_INSTALL_DIR}/${QT_VERSION}/clang_64"
      - export QT_QPA_PLATFORM_PLUGIN_PATH=$QTDIR/plugins
      - export PATH="$QTDIR/bin:$PATH"
      - ./install-qtwebkit MacOS_10_13-Clang-MacOS-MacOS_10_13-X86_64
    before_script:
      - du -hs $QTDIR
      - qmake -query
    script:
      - ./build-pyqt5.sh
      - ./build-otter.sh
      - ./build-phantomjs.sh
  - name: "VS 2017 x86"
    os: windows
    env:
      CMAKE_GENERATOR="Visual Studio 15 2017"
      QT_INSTALL_DIR=C:/Qt
    before_install:
      - powershell.exe -ExecutionPolicy Bypass -NoProfile -NonInteractive -File windows_setup.ps1
    install:
      - choco install jom
      - 3rdparty/install-qt.sh -d ${QT_INSTALL_DIR} --version ${QT_VERSION} --toolchain win32_msvc2017 ${QT_MODULES} qtwinextras
      - export QTDIR="${QT_INSTALL_DIR}/${QT_VERSION}/msvc2017"
      - export QT_QPA_PLATFORM_PLUGIN_PATH="$(cygpath -u $QTDIR/plugins)"
      - export PATH="$(cygpath -u ${QTDIR})/bin:$PATH"
      - ./install-qtwebkit Windows_10-MSVC2017-Windows-Windows_10-X86
    before_script:
      - du -hs $QTDIR
      - qmake -query
    script:
      - ./build-otter.sh
      - VS_ARCH=x86 ./build-phantomjs-vs.bat
      - VS_ARCH=x86 ./build-examples-vs.bat
  - name: "VS 2017 x86_64"
    os: windows
    env:
      CMAKE_GENERATOR="Visual Studio 15 2017 Win64"
      QT_INSTALL_DIR=C:/Qt
    before_install:
      - powershell.exe -ExecutionPolicy Bypass -NoProfile -NonInteractive -File windows_setup.ps1
    install:
      - choco install jom
      - 3rdparty/install-qt.sh -d ${QT_INSTALL_DIR} --version ${QT_VERSION} --toolchain win64_msvc2017_64 ${QT_MODULES} qtwinextras
      - export QTDIR="${QT_INSTALL_DIR}/${QT_VERSION}/msvc2017_64"
      - export QT_QPA_PLATFORM_PLUGIN_PATH="$(cygpath -u $QTDIR/plugins)"
      - export PATH="$(cygpath -u ${QTDIR})/bin:$PATH"
      - ./install-qtwebkit Windows_10-MSVC2017-Windows-Windows_10-X86_64
    before_script:
      - du -hs $QTDIR
      - qmake -query
    script:
      - ./build-otter.sh
      - VS_ARCH=amd64 ./build-phantomjs-vs.bat
      - VS_ARCH=amd64 ./build-examples-vs.bat
  - name: "MinGW 7.3 x86"
    os: windows
    env:
      CMAKE_GENERATOR="MSYS Makefiles"
      CMAKE_ARGS="-DCMAKE_MAKE_PROGRAM=mingw32-make"
      QT_INSTALL_DIR=C:/Qt
      MAKE=mingw32-make
      DEPLOY=1
    before_install:
      - powershell.exe -ExecutionPolicy Bypass -NoProfile -NonInteractive -File windows_setup.ps1
      - gem install bundler
    install:
      - 3rdparty/install-qt.sh -d ${QT_INSTALL_DIR} --version ${QT_VERSION} --toolchain win32_mingw73 ${QT_MODULES} qtwinextras
      - export QTDIR="${QT_INSTALL_DIR}/${QT_VERSION}/mingw73_32"
      - export QT_QPA_PLATFORM_PLUGIN_PATH="$(cygpath -u $QTDIR/plugins)"
      - export PATH="$(cygpath -u ${QTDIR})/bin:$PATH"
      - 3rdparty/install-qt.sh -d ${QT_INSTALL_DIR} --version 7.3.0 win32_mingw730
      - export PATH="$(cygpath -u ${QT_INSTALL_DIR})/Tools/mingw730_32/bin:$PATH"
      - ./install-qtwebkit Windows_7-Mingw73-Windows-Windows_7-X86
    before_script:
      - du -hs $QTDIR
      - qmake -query
      - g++ -v
      - mingw32-make --version
    script:
      - ./build-otter.sh
      - ./build-phantomjs.sh
      - ./build-examples.sh
  - name: "Linux x86_64"
    os: linux
    env:
      CMAKE_GENERATOR=Ninja
      DEPLOY=1
    install:
      - 3rdparty/install-qt.sh -d ${QT_INSTALL_DIR} --version ${QT_VERSION} ${QT_MODULES} icu
      - export QTDIR="${QT_INSTALL_DIR}/${QT_VERSION}/gcc_64"
      - export QT_QPA_PLATFORM_PLUGIN_PATH=$QTDIR/plugins
      - export PATH="$QTDIR/bin:$PATH"
      - export LD_LIBRARY_PATH=$QTDIR/lib
      - ./install-qtwebkit RHEL_7_6-GCC-Linux-RHEL_7_6-X86_64
    before_script:
      - du -hs $QTDIR
      - qmake -query
    script:
      - ./build-pyqt5.sh
      - ./build-otter.sh
      - ./build-phantomjs.sh
      - ./build-examples.sh
